
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<section class="welcome_bakery_area cake_feature_main p_100">
    <div class="container">
        <div class="main_title">
            <h2>Contact Us</h2>
            <div>
            </div>
            <div class="wpb_text_column wpb_content_element ">
                <div class="wpb_wrapper">
                    <div class="contact-item">
                        <div class="contact-icon m-t-sm">
                            <span class="fa fa-phone fa-  " style=""></span>
                        </div>
                        <div class="contact-detail">
                            0906 841236<br>
                            0908 704078
                        </div>
                    </div>
                    <div class="contact-item">
                        <div class="contact-icon m-t-sm">
                            <span class="fa fa-envelope fa-  " style=""></span>
                        </div>
                        <div class="contact-detail">ltstore@gmail.com</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_title">

            <h2>Address</h2>
            <h5>Khu phố 6, P.Linh Trung, Q.Thủ Đức, Tp.Hồ Chí Minh</h5>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3918.2308572642155!2d106.80141623831138!3d10.870038066354573!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xafa66f9c8be3c91!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2jhu4cgVGjDtG5nIHRpbiDEkEhRRyBUUC5IQ00!5e0!3m2!1svi!2s!4v1617589951732!5m2!1svi!2s" width="1200" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

    </div>
</section>